services:
  sablier:
    image: sablierapp/sablier:1.10.5
    container_name: sablier
    restart: unless-stopped
    command:
      - start
      - --provider.name=docker
      - --server.port=10000
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    networks:
      - backend
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=backend"

networks:
  backend:
    external: true
